# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars

# Sensitive files
*.pem
*.key

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/